# Virtual Environments
/.venv/
/venv/
/.env/
/env/
venv/
flenv/

# Byte-compiled / optimized / DLL files
src/__pycache__/

# Test files
test.*

# Mac OS
.DS_Store

# Models & IGANN
#models/
igann/

# Code editor config
.idea/
.vscode/
pyrightconfig.json

# plots
plots/

# igann model 
models/igann.pkl:Zone.Identifier
models/igann.pkl
WebApp/__pycache__/igann_helper.cpython-38.pyc
WebApp/static/html/sum (2).html:Zone.Identifier
WebApp/templates/facelift.html
WebApp/static/html/direct.html:Zone.Identifier
WebApp/static/html/max.html:Zone.Identifier
WebApp/static/html/min.html:Zone.Identifier
WebApp/static/html/temp.html:Zone.Identifier
WebApp/static/html/ws.html:Zone.Identifier
